<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="dashboard/_menu"></th:block>
<!--<form th:action="@{/authenticateUser}" th:object="${userVo}" method="POST">-->
<!--</form>-->
<table th:object="${todoList}" id="todoList" border="1">
    <tr>
        <td colspan="2" th:text="Todo List"></td>
    </tr>
    <tr th:each="todo : ${todoList}">
        <td th:text="${todo.task}"></td>
        <td th:text="${todo.description}"></td>
        <td th:text="${todo.todoStatus}"></td>
    </tr>
</table>
</body>
</html>